.places__title {
  margin: 0;
  max-width: 460px;
  font-style: normal;
  font-weight: 900;
}

@media screen and (min-width: 320px) {
  .places__title {
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .places__title {
    font-size: 42px;
    line-height: 46px;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .places__title {
    font-size: 72px;
    line-height: 76px;
  }
}
