.places__text {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;
margin: 0;
margin-top: 26px;
}

.places__text:first-child {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .places__text {
    font-size: 16px;
    line-height: 26.08px;
  }
}
