.cover {
  max-width: 1192px;
  background-image: url(../../images/cover__background.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 740px;
  position: relative;

}


@media screen and (max-width: 1024px) {
  .cover {
    height: 640px;
  }
}
