.places__item {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(220px,460px));
  gap: 48px 40px;
  margin-top: 80px;
}

.places__item:first-child {
  margin-top: 0;
}


@media screen and (max-width:1024px) {
  .places__item {
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .places__item {
    gap: 48px 28px;
  }
}

@media screen and (max-width: 768px) {
  .places__item {
    margin-top: 73px;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 525px) {
  .places__item {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

@media screen and (max-width: 390px) {
  .places__item {
    margin-top: 64px;
  }
}
